/node_modules
/vendor
/public/hot
/public/storage
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/*.key
/storage/app/firebase/credentials.json
/storage/app/firebase/*.json
/bootstrap/cache/*.php
.env
.env.*
!.env.example
*.key
*.pem
*.p12
*.log
*.bak
*.backup
*.old
*.orig
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log*
yarn-error.log*
/.idea
/.vscode
Admin Panel/
